html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
  color: #172230;
}

.header {
  padding: 6rem 0;
  background: url(../img/headerbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;

  h1 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 60px;
  }

  p {
    font-size: 24px;
    font-weight: 600;
  }

  .btn {
    padding: .5rem 3rem;
  }
}

.plans {
  padding: 4rem 0;
  background-color: #EDF1F6;
  text-align: center;

  p {
    font-size: 24px;
  }

  .btn {
    width: 100%;
  }

  img {
    max-width: 70%;
    height: auto;
    border-radius: 100%;
    border: 8px solid $primary;
    margin-bottom: 40px;
    transition: .4s cubic-bezier(.86, .01, .15, .99);
    cursor: pointer;

    &:hover {
      transform: scale(1.04);
      box-shadow: 0 30px 40px -30px rgba($color: #17212E, $alpha: 0.7);
    }
  }

  &__title {
    text-align: center;
    background: $primary;
    border-radius: 100px;
    padding: .5rem 0;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
}

.table {
  .card {
    &__content {
      transition: .4s cubic-bezier(.86, .01, .15, .99);
      cursor: pointer;
      position: relative;
      border-radius: 8px;
      padding: 2rem;
      height: 100%;
      background-color: #EDF1F6;

      h2 {
        margin-bottom: 1.5rem;
        font-weight: 600;
        position: relative;

        &::before {
          content: "";
          transition: all .4s cubic-bezier(.86, .01, .15, .99);
          position: absolute;
          bottom: -4px;
          left: -8px;
          height: 15px;
          width: 0;
          background-color: #BFCDDF;
          z-index: -1;
        }
      }
      
      &:hover {
        transform: scale(1.04);
        z-index: 10;
        background-color: #E7ECF3;
        box-shadow: 0 30px 40px -30px rgba($color: #17212E, $alpha: 0.7);
        h2::before {
          content: "";
          position: absolute;
          bottom: -4px;
          left: -8px;
          height: 15px;
          width: 150px;
          background-color: #BFCDDF;
          z-index: -1;
        }
      }
    }
  }
}

.slider {
  text-align: center;

  p {
    font-weight: 600;
    color: $primary;
  }

  img {
    border-radius: 100%;
    margin-bottom: 2rem;
    border: 10px solid $primary;
  }

  .owl-item {

    img {
      transition: .4s cubic-bezier(.86, .01, .15, .99);
      transform: scale(0.7);
    }

    &.active.center {
      img {
        transform: scale(1);
        box-shadow: 0 30px 40px -30px rgba($color: #17212E, $alpha: 0.7);
      }
    }
  }
}

.big-title {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  h1 {
    line-height: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    border-top: 4px solid $primary;
    border-bottom: 4px solid $primary;
    width: 50%;
  }
}

b,
span,
strong {
  color: $primary;
}

// Responsive

@media (min-width: 1200px) {
  .about {
    h1 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 40px;
    }

    p {
      font-size: 20px;
    }

    .btn {
      padding: .5rem 3rem;
      margin-top: 30px;
    }

    img {
      border-radius: 4px;
    }
  }
}

@media (max-width: 991.98px) {
  .header {
    background-position: 0% 100%;

    .btn {
      width: 100%;
      margin-top: 30px;
    }
  }

  .about .btn {
    width: 100%;
    margin: 20px 0 40px 0;
  }

  .plans .btn {
    margin-bottom: 40px;
  }

  .slider img {
    border: 8px solid $primary;
  }

  .big-title {
    h1 {
      line-height: 60px;
    }

    &::before {
      border-top: 3px solid #9CA7B2;
      border-bottom: 3px solid #9CA7B2;
      width: 90%;
    }
  }
}