html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
  color: #172230;
}

.big-title {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  h1 {
    line-height: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    border-top: 4px solid #839EC3;
    border-bottom: 4px solid #839EC3;
    width: 50%;
  }
}

b,
span,
strong {
  color: $primary;
}

// Responsive
@media (max-width: 991.98px) {
  .btn {
    width: 100%;
  }
  .big-title {
    h1 {
      line-height: 60px;
    }

    &::before {
      border-top: 3px solid #839EC3;
      border-bottom: 3px solid #839EC3;
      width: 90%;
    }
  }
}