.header {
  padding: 6rem 0;
  background: url(../img/headerbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;

  h1 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 60px;
  }

  p {
    font-size: 24px;
    font-weight: 600;
  }

  .btn {
    padding: .5rem 3rem;
  }
}

@media (max-width: 991.98px) {
  .header {
    background-position: 0% 100%;

    .btn {
      margin-top: 30px;
    }
  }
}