header {
  background-color: rgba($color: #EDF1F6, $alpha: 0.7);
  backdrop-filter: blur(10px);
  font-family: $font-family-base;
  font-weight: 500;
  position: fixed;
  width: 100%;
  z-index: 1000;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0 4rem;
  }

  a {
    color: #999;
    text-decoration: none;
    transition: all .3s ease;

    &:hover {
      color: $primary;
    }

    &.active {
      color: $primary;
      font-weight: 600;
    }
  }
}

.brand {
  position: relative;
  color: $primary;

  &__lince {
    width: 120px;
    max-width: 120px;
    margin-right: 1rem;
  }

  &__guide {
    width: 120px;
    max-width: 120px;
    position: relative;
  }

  &::before {
    content: "";
    height: 40px;
    width: 2px;
    top: 0;
    left: 50%;
    position: absolute;
    background-color: $primary;
    margin: 2px 0;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 0;

  li {
    letter-spacing: 3px;
    margin-left: 3rem;
  }

  &.active {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
  }
}

.nav__toggler {
  cursor: pointer;
  display: none;

  div {
    width: 30px;
    height: 2px;
    background-color: $primary;
    margin: 6px;
    transition: 0.3s;
  }
}

@media (max-width: 991.98px) {

  html,
  body {
    position: relative;
    overflow-x: hidden !important;
  }

  header nav {
    padding: 0 1rem;
  }

  .nav__toggler {
    display: block;
    z-index: 1;
  }

  .nav__list {
    position: absolute;
    padding: 2rem 0;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #EDEDED;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    justify-content: center;

    li {
      opacity: 0;
      margin: 2rem 0;
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
  }
}

.nav__toggler.active {
  .__1 {
    transform: rotate(-315deg) translate(4px, 8px);
  }

  .__2 {
    opacity: 0;
  }

  .__3 {
    transform: rotate(315deg) translate(3px, -7px);
  }
}